<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>Hi, {{r}}. How can I help you today?</h1>
    <p><img src="https://www.bing.com/images/search?view=detailV2&ccid=nQDqj4aU&id=98AD0C4D234DBE1EE733953E60BAA5CF2BCCB395&thid=OIP.nQDqj4aUQytcPof_hINNoQHaE6&mediaurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.9d00ea8f8694432b5c3e87ff84834da1%3frik%3dlbPMK8%252blumA%252blQ%26riu%3dhttp%253a%252f%252fimg.pconline.com.cn%252fimages%252fupload%252fupc%252ftx%252fphotoblog%252f1104%252f25%252fc2%252f7431963_7431963_1303697004250.jpg%26ehk%3dq4irBOFXNV8CYjVc6sxZDQolcem9o%252ft6Ip%252fd%252fa74MC4%253d%26risl%3d%26pid%3dImgRaw%26r%3d0&exph=1424&expw=2144&q=%e8%a5%bf%e5%ae%89&simid=608002726503217127&FORM=IRPRST&ck=20F4FCF7FE73BF4AB9BC34B878A89D04&selectedIndex=0&itb=0&ajaxhist=0&ajaxserp=0"
           width="300" height="200"></p>
<form action="/image_gpt" method="post">
    <input type = "submit" value="Image Generator" style="width:200px;height:100px;">
</form>
<form action="/end" method="post">
    <input type = "submit" value="END" style="width:200px;height:100px;">
</form>
</div>
